@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
body,
html {
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(230, 17%, 14%);
    font-family: 'Inter', sans-serif;
    color: hsl(228, 34%, 66%);
}


/*--------------------------HEADER-----------------------*/

.background-box {
    max-width: 1440px;
    width: 100%;
    height: 245px;
    position: absolute;
    z-index: -1;
    background-color: hsl(232, 19%, 15%);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    left: 0;
    right: 0;
    top: 0;
    margin: 0 auto;
}

.container {
    width: auto;
    max-width: 1110px;
    margin: 35px auto;
}

header {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
}

.header_title {
    font-size: 26px;
    color: hsl(0, 0%, 100%);
    margin: 0;
}

.header-subtitle,
.toggle-label,
.card-overview-text {
    font-size: 14px;
    font-weight: 700;
}


/*--------------------------HEADER: TOGGLE BUTTON-----------------------*/

.toggle-label {
    margin-right: 10px;
}

.toggle {
    display: flex;
    align-items: center;
}

.toggle-btn-wrapper {
    position: relative;
    display: flex;
}

.toggle-btn {
    width: 50px;
    height: 26px;
    display: inline-block;
    border-radius: 50px;
    background-color: hsl(210, 78%, 56%);
    background: linear-gradient(90deg, hsl(210, 78%, 56%) 0%, hsl(146, 68%, 55%) 100%);
    padding: 3px;
    box-sizing: border-box;
}

.toggle-btn::after {
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background-color: hsl(230, 17%, 14%);
    display: block;
}

.toggle-checkbox {
    z-index: 1;
    position: absolute;
    width: 50px;
    height: 25px;
    right: 0;
    top: 0;
    margin: 0;
    opacity: 0;
}

.toggle-checkbox:checked+.toggle-btn {
    background: hsl(230, 22%, 74%);
}

.toggle-checkbox:checked+.toggle-btn::after {
    margin-left: auto;
    background-color: hsl(0, 0%, 100%);
}


/*--------------------------CARDS SECTION-----------------------*/

.cards,
.cards-bottom-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row-gap: 25px;
    grid-column-gap: 30px;
    margin-top: 45px;
}

.card {
    width: 100%;
    height: auto;
    text-align: center;
    position: relative;
    border-radius: 8px;
    background-color: hsl(228, 28%, 20%);
    padding: 25px;
    box-sizing: border-box;
}

.cards-column {
    display: flex;
    justify-content: space-between;
}

.card::before {
    content: "";
    width: 100%;
    position: absolute;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    top: 0;
    left: 0;
    height: 4px;
}

.sm-handle {
    font-size: 14px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sm-icon {
    margin-right: 10px;
}

.followers {
    margin: 25px auto;
}

.followers-number {
    font-size: 60px;
    font-weight: 700;
    color: #ffffff;
}

.followers-subtitle {
    font-size: 12px;
    letter-spacing: 4px;
}

.stat {
    font-size: 12px;
    font-weight: 700;
    display: flex;
    align-items: flex-end;
    color: hsl(163, 72%, 41%);
}

.card-overview-text {}

.card-column {
    text-align: left;
    display: grid;
    grid-row-gap: 25px;
}

.card-column:nth-child(2) {
    text-align: right;
}

.card-overview-value {
    font-size: 36px;
    font-weight: 700;
    color: #ffffff;
    line-height: .9em;
}

.stat-negative {
    font-size: 12px;
    font-weight: 700;
    display: flex;
    align-items: flex-end;
    color: hsl(348, 97%, 39%);
}

.card-blue1::before {
    background: hsl(208, 92%, 53%);
}

.card-blue2::before {
    background: hsl(203, 89%, 53%);
}

.card-many::before {
    background: hsl(37, 97%, 70%);
    background: linear-gradient(90deg, hsl(37, 97%, 70%)0%, hsl(329, 70%, 58%) 100%);
}

.card-blue::before {
    background-color: hsl(195, 100%, 50%);
}

.card-red::before {
    background: hsl(348, 97%, 39%);
}

.cards-bottom {
    margin-top: 50px;
}

.cards-bottom-title {
    font-size: 24px;
    color: #ffffff;
    margin: 0;
}